$gray: #ebeaef;
$orange: #ff7800;
$hrgray: #cbc8c8;
$darkgray: #666;
$closegray: #606061;
$green: #43db51;
$white: #fff;
$black: #000;

$font-family: 'Helvetica Neue', Helvetica, sans-serif;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: $gray;
  font-family: $font-family;
  position: relative;
  text-align: center; }

.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.glasspane,
.video-container {
  background: $gray;
  height: 100%;
  margin: 0 auto;
  max-height: 900px;
  max-width: 1200px;
  position: relative;
  vertical-align: middle;
  width: 100%; }

.video-container {
  display: none;
}

.start-button {
  background: $orange;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  left: 50%;
  margin: 0 auto;
  padding: 15px 30px;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%); }

.video {
  background: $gray;
  display: inline-block;
  height: 95%;
  margin-top: 2%;
  width: 95%; }

.select-rope,
.finish-screen,
.car-screen,
.car-finished {
  box-sizing: border-box;
  display: none;
  height: 100%;
  margin: 0 auto;
  max-height: 900px;
  max-width: 1200px;
  min-height: 900px;
  min-width: 1200px;
  padding: 50px 75px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  z-index: 1; }

.finish-screen p {
  color: $darkgray;
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  width: 100%; }

p {
  color: $darkgray;
  font-size: 18px;
  line-height: 1.5;
  max-width: 515px;
  width: 100%;
}

hr {
  background: $hrgray;
  border: 0;
  border-bottom: 1px solid $white;
  height: 1px;
  margin: 58px 0 72px;
  width: 80px;
}

.image-container {
  width: 220px;

  p {
    font-size: 14px;
    margin: 0;
  }

  [type=radio] {
    display: none;

    + label {
      font-size: 16px;

      span {
        background: url('../images/radio-off.png') left top no-repeat;
        background-size: 100%;
        cursor: pointer;
        display: inline-block;
        height: 38px;
        margin: -1px 15px 0 0;
        vertical-align: middle;
        width: 38px;
      }
    }
  }

  [type=radio]#rope:checked {
    + label span {
      background: url('../images/radio-right.png') left top no-repeat;
      background-size: 100%;
      height: 38px;
      width: 38px;
    }
  }

  [type="radio"]#twine:checked {
    + label span {
      background: url('../images/radio-wrong.png') left top no-repeat;
      background-size: 100%;
      height: 38px;
      width: 38px;
    }
  }
}

.question-container {
  margin-top: 60px;

  h2 {
    font-weight: normal;
    margin-bottom: 0;

    + p {
      margin-bottom: -30px;
      margin-top: 0;
    }
  }
}

.rope {
  margin-top: 60px;
}

.description {

  h4 {
    color: $orange;
    font-weight: normal;
    margin: 0;
    text-align: left;
    text-transform: uppercase;

    + p {
      margin-top: 5px;
    }
  }

  .btn {
    background: $orange;
    border: 0;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-top: 38px;
    padding: 14px 20px;
    text-decoration: none;

    span {
      display: inline-block;
      margin-left: 12px;
      transform: rotate(90deg);
    }
  }

  .btn-green {
    background: $green;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.car-container {
  background: url('../images/car.png') top center no-repeat;
  background-size: 100%;
  height: 722px;
  position: relative;
  width: 507px;

  .car-finished & {
    background: url('../images/car-complete.png') top center no-repeat;
  }

  .styled-select {
    input {
      display: none;

      + label {
        background: url('../images/radio-back.png') center center no-repeat;
        display: inline-block;
        height: 38px;
        width: 38px;
      }
    }

    .right:checked {
      + label {
        background: url('../images/radio-right.png') center center no-repeat;
      }
    }

    .wrong:checked {
      + label {
        background: url('../images/radio-wrong.png') center center no-repeat;
      }
    }
  }

  [class*="right-"],
  [class*="wrong-"] {
    display: inline-block;
    position: absolute;
  }

  .right-1 {
    left: 185px;
    top: 75px;
  }

  .right-2 {
    left: 405px;
    top: 75px;
  }

  .right-3 {
    left: 175px;
    top: 380px;
  }

  .right-4 {
    left: 415px;
    top: 380px;
  }

  .right-5 {
    left: 190px;
    top: 620px;
  }

  .right-6 {
    left: 395px;
    top: 620px;
  }

  .wrong-1 {
    left: 295px;
    top: 40px;
  }

  .wrong-2 {
    left: 175px;
    top: 230px;
  }

  .wrong-3 {
    left: 415px;
    top: 230px;
  }

  .wrong-4 {
    left: 175px;
    top: 505px;
  }

  .wrong-5 {
    left: 415px;
    top: 505px;
  }

  .wrong-6 {
    left: 295px;
    top: 640px;
  }
}

.car-finished {
  h2 {
    margin-top: 175px;
  }

  hr {
    margin: 25px 0;
  }
}

.modal {
  background: rgba(0, 0, 0, .8);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 200ms ease-in;
  z-index: 10000;

  &:target {
    // pointer-events: auto;
  }

  > div {
    background: $white;
    left: 50%;
    margin: 0 auto;
    padding: 5px 20px 13px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
  }

  .tie-down-table {
    width: 100%;
  }

  .close {
    background: $closegray;
    border-radius: 12px;
    box-shadow: 1px 1px 3px $black;
    color: $white;
    cursor: pointer;
    font-weight: bold;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    text-decoration: none;
    top: -10px;
    width: 24px;
  }
}